/*FUENTE*/
@font-face {
    font-family: 'Comic';
    src: url('../fonts/ComicRelief-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*FIJAR TIPO DE LETRA*/
h1{
    font-family: 'Comic';
}

h2,h3,h4,h5,ul,li,a,p{
    font-family: 'Montserrat';
}

/*COLOR DE PAGINA*/
body{
    background-color: #f5f3ef;
}

/* ENCABEZADO GENERAL */
.encabezado {
    background-color: #5dc1b9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    font-family: League, sans-serif;
    color: #239089;
}

/* LOGO */
.encabezado figure {
    margin: 0 15px 0 0;
}

/* TITULO */
.titulo h1, .titulo h4 {
    margin: 0;
}

/* RESPONSIVE */
@media (max-width: 576px) {
    .encabezado {
        flex-direction: column;
    }

    .encabezado figure {
        margin-bottom: 10px;
    }
}


/*MENÚ*/
#menú { 
    background-color: #5dc1b9 !important;
    margin-top: 0;
    padding-top: 0%;
}

.nav-item a {
    color: white
}

.nav-item a:hover {
    color: #239089
}

/*FOOTER*/
footer {
    background-color: #5dc1b9;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 20px;
    background-color: #5dc1b9;
}

.iconos-redes a {
    font-size: 15px; 
    color: white ; 
    text-decoration: none; 
}
.iconos-redes a:hover {
    color: white; 
}

/*Contacto*/
#Contacts {
    background-image: url('img/estrellas-fondo.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
  }
  