#PlayAreas{
    text-align: center;
    align-items: center;
    background-color: #f5f3ef;
    border-color: #5dc1b9;
    border-radius: 37px;
    margin-bottom: 50px;
}
.carrusel-redondo {
    border-radius: 37px;
    overflow: hidden;
  }
  #idiom img{
    border-radius: 37px;
  }